*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    background-color: rgb(1, 119, 27);
}
#container{
    /* border: 1px solid black; */
    text-align: center;
    width: 50%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
#container h1{
    color: rgb(1, 119, 27);
    margin-bottom: 1.5rem;
}
#container label{
    font-weight: bold;
}
#container input{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(1, 119, 27);
    padding: 0.5rem;
    outline: none;
}
button{
    width: 5rem;
    height: 3rem;
    background-color: rgb(1, 119, 27);
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    border: 1.5px solid rgb(1, 119, 27);
    background-color: white;
}
#para{
    color: rgb(1, 119, 27);
    font-weight: bold;
    margin-bottom: 2rem;
}
@media(max-width: 747px){
    #container{
        width: 80%;
    }
}